.platform-options .card {
    display: inline-flex;
    width: 150px;
    margin: 10px;
}

.platform-options .card .card-body {
    padding: 0px;
}

.bad-movie-binge-section span {
    margin-right: 10px;
}

.deakbreaker-section .switch {
    margin-left: 5px;
}

.Movie {
    border-bottom: 1px solid lightgray;
}

.movie-meta p {
    margin-bottom: 0px;
}

.spinner-border {
    width: 50px !important;
    height: 50px !important;
}

.Loading {
    margin-top: 15px;
}