.row {
    margin: 0px 0px 20px 0px;
}

.platform-options .card {
    display: inline-flex;
    width: 150px;
    margin: 10px;
}

.platform-options .card .card-body {
    padding: 0px;
}

.bad-movie-binge-section {
    display: block !important;
}

.tip {
    margin: 0px 5px;
}

.Movie {
    border-bottom: 1px solid lightgray;
}

.movie-meta p {
    margin-bottom: 0px;
}

.spinner-border {
    width: 50px !important;
    height: 50px !important;
}

.Loading {
    margin-top: 15px;
}

.form-error {
    color: red
}

.BingePeriodForm input {
    margin: 0px 30%;
    width: 40%;
    text-align: center;
}

.BingeSettingsForm .col {
    padding: 0px 5px;
}

.BingeSchedule > div {
    margin-top: 20px;
}

.age-rating-name {
    font-size: 20px;
}

.age-restriction-options .card {
    display: inline-flex;
    width: 100px;
    margin: 10px;
}

.age-restriction-options .card-body {
    padding: 20px 0px 0px 0px!important;
}

h2 {
    text-align: center;
}

.age-restriction-row {
    display: block !important;
}