.platform-options .card {
    display: inline-flex;
    width: 150px;
    margin: 10px;
}

.platform-options .card .card-body {
    padding: 0px;
}

.bad-movie-binge-section span {
    margin-right: 10px;
}

.deakbreaker-section .switch {
    margin-left: 5px;
}